.DS_Store
data/*.csv
data/zips
data/old_files
database/*.sql
!database/create_tables.sql
!database/create_indexes.sql
!database/create_secondary_tables.sql
!database/working_queries.sql
experiments/submissions/*.csv
